.layoutContainer{
    background: linear-gradient(90deg, #ededed, #5a5ce4, #ef7cfa);
    background-size: 300% 300%;
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    box-sizing: border-box;
    padding:1rem;
    gap:0.5rem;
}
.header{
    width:100%;
    background-color: rgba(247, 245, 245, 0.895);
    animation: lightUp 5s infinite;
    user-select: none;
    font-size:3rem;
    display:grid;
    grid-template-columns: auto auto auto; 
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius:0.5rem;
    box-sizing: border-box;
    padding:0 0.5rem 0 0.5rem;
}
.links
{
    font-size: 1.5rem;
    display:grid;
    grid-template-columns: auto auto auto;
    gap: 6rem;
    display: flex;
}
.main{
    justify-content: center;
    box-sizing: border-box;
    background-color: rgba(247, 245, 245, 0.895);
    border-radius: 0.5rem;
    min-height: 80vh;
    padding:0.5rem;
}